﻿@using WebStore.Models
@model ProductViewModel

@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Product</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu">
            <ul>
                <li class='active'><a href='../Home/Index'>Home</a></li>
                <li class='has-sub '>
                    <a href='#'>Categories</a>
                    <ul>
                        <li class='has-sub '><a href='../Home/Movies'>Movies</a></li>
                        <li class='has-sub '><a href='../Home/Books'>Books</a></li>
                    </ul>
                </li>
                <li><a href='../Home/About'>About</a></li>
            </ul>
        </div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">

        <div id="contents">
            <h1>Add Product</h1>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()

                <table align="center" id="cartTable" class="table">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">Product Name :</td>
                        <td class="text-left">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Name, new {@class = "form-control form-input"})
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">URL to Photo :</td>
                        <td class="text-left">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.ImageUrl, new {@class = "form-control form-input"})
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Price :</td>
                        <td class="text-left">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Price, new {@class = "form-control form-input"})
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Inventory :</td>
                        <td class="text-left">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Inventory, new {@class = "form-control form-input"})
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Description :</td>
                        <td class="text-left">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Description, new {@class = "form-control form-input"})
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                for (int i = 0; i < Model.AllCategories.Count; i++)
                {
                    <div>
                        <label>@Model.AllCategories.ElementAt(i)</label>
                        @Html.CheckBoxFor(m => m.SelectedCategories[i], new { @checked = "checked" });
                    </div>
                }

                <div class="text-center">
                    <input class="btn btn-success btn-style" type="submit" value="Create Product" /> <br /> <br />
                    <a href="../Admin/Products" class="btn btn-success btn-style">Back</a> <!-- Working but button size problem-->

                </div>
            }
        </div>
    </div> <!-- Container End-->


</body>
</html>