﻿@using WebStore.Models

@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Index</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu">
            <ul>
                <li class='active'><a href='../Home/Index'>Home</a></li>
                <li class='has-sub '>
                    <a href='#'>Categories</a>
                    <ul>
                        <li class='has-sub '><a href='../Home/Movies'>Movies</a></li>
                        <li class='has-sub '><a href='../Home/Books'>Books</a></li>
                    </ul>
                </li>
                <li><a href='../Home/About'>About</a></li>
            </ul>
        </div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">

        <div id="contents">
            <h1>Admin Index</h1>
            <a href="../Admin/AdminIndex" class="btn-styleAdmin">Admin Index</a>
            <a href="../Admin/Products" class="btn-styleAdmin">Products</a>
            <a href="../Admin/Categories" class="btn-styleAdmin">Categories</a>
        </div>
    </div> <!-- Container End-->

</body>
</html>