﻿@using WebStore.Models


@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Products</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu">
            <ul>
                <li class='active'><a href='../Home/Index'>Home</a></li>
                <li class='has-sub '>
                    <a href='#'>Categories</a>
                    <ul>
                        <li class='has-sub '><a href='../Home/Movies'>Movies</a></li>
                        <li class='has-sub '><a href='../Home/Books'>Books</a></li>
                    </ul>
                </li>
                <li><a href='../Home/About'>About</a></li>
            </ul>
        </div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">

        <div id="contents">
            <h1>Products</h1>
            <div class="form-group">
                <a href="../Admin/AdminIndex" class="btn-styleAdmin">Admin Index</a>
                <a href="../Admin/Categories" class="btn-styleAdmin">Categories</a>
                <a href="../Admin/AddProduct" class="btn-styleAdmin">Add Product</a>
            </div>
            <table align="center" id="productsTable" class="table">
                <thead>
                <tr>
                    <th>Name of Product</th>
                    <th class="text-right">Modify Product</th>
                </tr>
                </thead>
                <tbody>
                @{
                    foreach (ProductViewModel productViewModel in Model.Products)
                    {
                        <tr>
                            <td class="text-center" align="left">@productViewModel.Name :</td>
                            <td class="text-left">
                                <div class="form-group">
                                    <button onclick="location.href = '@Url.Action("EditProduct", "Admin", new {productID = productViewModel.Id})'" class="btn-styleAdmin">Edit</button>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="form-group">
                                    <button onclick="location.href = '@Url.Action("DeleteProduct", "Admin", new {productID = productViewModel.Id})'" class="btn-styleAdmin">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                }

                </tbody>
            </table>
            
        </div>
    </div> <!-- Container End-->


</body>
</html>

