﻿@using WebStore.Models
@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu"></div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">
        
        <div id="contents">
            <h1>About</h1>
            <p>
                Created by Jeremy Stephens<br/>
                CS 425 at Western Illinois University<br/>
                Using C#, ASP.NET, MVC 5 and EntityFramework<br/>
                Things to look at after CS 425:<br/><br/>
                LINQ: Getting a better understanding of LINQ could be incredible beneficial. The capabilites of database manipulation seem to be crucial. Unfortunately LINQ was not discussed in length.<br/>
                Navigation: How to make it more dynamic. The method used was more of a place holder until I understood proper implementation. Ran out of time.<br/>
                Javascript: My knowledge of javascript has come strictly from this project. However, it seems to play a larger role than initially thought and could prove useful.<br/><br/>

                <ul>Sources:
                    <li>All images and descriptions used are from http://www.barnesandnoble.com</li>
                    <li>Scrollbox https://github.com/wmh/jquery-scrollbox </li>
                </ul>
            </p>
        </div>
    </div> <!-- Container End-->

    <script src="../Content/includes/navMenu.js"></script>

</body>
</html>