﻿@using WebStore.Models
@model WebStore.Models.CategoryViewModel
@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu"></div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">
        
        <div id="contents">
            <h1>Books</h1>
            @{
                foreach (ProductViewModel productViewModel in Model.Products)
                {
                    <div class="listing" align="center">
                        <img src="@productViewModel.ImageUrl" height="292" width="192"><br/>
                        @Html.ActionLink(productViewModel.Name, "Product", "Home", new { productID = productViewModel.Id }, new { })<br/>
                        Stock: @productViewModel.Inventory<br/>
                        $@productViewModel.Price<br/>
                    </div>
                }
            }
        </div>
    </div> <!-- Container End-->

    <script src="../Content/includes/navMenu.js"></script>

</body>
</html>
