﻿@using WebStore.Models
@model ListViewModel

@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../Content/includes/jquery.scrollbox.js"></script>

</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu"></div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">
        <div id="movieMarq" class="scroll-img">
            <ul class="listSlider">
                @{
                    foreach (ProductViewModel productViewModel in Model.Products)
                    {
                        <li class="slide">
                            <button onclick="location.href='@Url.Action("Product", "Home", new {productID = productViewModel.Id })'"><img src="@productViewModel.ImageUrl"></button>
                        </li>
                    }
                }
            </ul>
        </div>
        <div id="contents">
            <h1>News</h1>
            <h2>Date/Time</h2>
            <p>
                Welcome to Web Store! Your solution for entertainment!
                
            </p>
        </div>
    </div> <!-- Container End-->

    <script src="../Content/includes/navMenu.js"></script>
    <script>
        $(function () {
            $('#movieMarq').scrollbox({
                direction: 'h',
                distance: 200,
                delay: 3,
                speed: 100
            });
        });
    </script>

</body>
</html>