﻿@using WebStore.Models
@model WebStore.Models.ProductViewModel

@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu"></div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">
        
        <div id="contents">
            <h1>@Model.Name</h1>
            <h2>Inventroy : @Model.Inventory / Price : $@Model.Price</h2>
            <img src="@Model.ImageUrl" height="292" width="192"><br/>
            <p>@Model.Description</p><br/>
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    <div class="pull-right">
                        @Html.HiddenFor(x => x.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success btn-style" value="Add to cart" />
                    </div>
                }
        </div>
    </div> <!-- Container End-->

    <script src="../Content/includes/navMenu.js"></script>

</body>
</html>
