﻿@using WebStore.Models
@model UserViewModel
@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu"></div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">
        
        <div id="contents" align="center">
            <h1>Register</h1>
            @using (Html.BeginForm())
            {
                
                @Html.ValidationSummary()
                <table align="center" id="cartTable" class="table">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">First Name :</td>
                        <td class="text-left">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.FName, new {@class = "form-control form-input"})
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Last Name :</td>
                        <td class="text-left">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.LName, new {@class = "form-control form-input"})
                            </div>
                        </td>
                    </tr>
                        <tr>
                            <td class="text-center">Email :</td>
                            <td class="text-left">
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-input" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Password :</td>
                            <td class="text-left">
                                <div class="form-group">

                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control form-input" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center" align="center">
                    <input class="btn btn-success btn-style" type="submit" value="Register" />
                </div>

            }
        </div>
    </div> <!-- Container End-->

<script src="../Content/includes/navMenu.js"></script>
</body>
</html>