﻿@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);


html, body, p {
    padding: 0;
    margin: 0;
}
.fixedNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    width: 100%;
    height: 48px;
    border-bottom: 4px solid firebrick;
}
label {
    font-family: 'Ubuntu', Arial, sans-serif;
}

.listing {
    height:400px;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid gray; 
    word-wrap: break-word;
    width: 200px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    color: white;
    text-shadow: 1px 1px black;
    background: firebrick;
}

.listing a {
    color: white;
    text-decoration: none;
}
.listing a:hover {
    color: #0dcbcb;
}

.btn-style{
	border : solid 1px #288c1a;
	border-radius : 20px 3px 20px 4px ;
	moz-border-radius : 20px 3px 20px 4px ;
	-webkit-box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	-moz-box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	box-shadow : 0px 0px 1px rgba(0,0,0,0.7);
	font-size : 20px;
	color : #ffffff;
	padding : 1px 17px;
	background : #f70328;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f70328), color-stop(100%,#30ab00));
	background : -moz-linear-gradient(top, #f70328 0%, #30ab00 100%);
	background : -webkit-linear-gradient(top, #f70328 0%, #30ab00 100%);
	background : -o-linear-gradient(top, #f70328 0%, #30ab00 100%);
	background : -ms-linear-gradient(top, #f70328 0%, #30ab00 100%);
	background : linear-gradient(top, #f70328 0%, #30ab00 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f70328', endColorstr='#30ab00',GradientType=0 );
    text-decoration: none;
}

.btn-style:hover {
    color: black;
}

.btn-styleAdmin{
	border : solid 1px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #696869;
	padding : 1px 17px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

}
.btn-styleAdmin:hover {
    color: black;
}
.form-input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 3px solid #000000;
  border-bottom-width: 2px;
  border-left-width: 10px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/*///////////////////////////////////////////////////////*/
/* LOGO */
/*///////////////////////////////////////////////////////*/

#bannerLeft{
    float: left;
    display: block;
    margin: 0 10px 0 10px;
    color: firebrick;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 48px;
}

/*///////////////////////////////////////////////////////*/
/* NAV */
/*///////////////////////////////////////////////////////*/
#navMenu {
    display: inline-block;
    padding: 0; 
    margin: 0; 
    border: 0;
    background: black;
    border-bottom: 4px solid firebrick;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 20px;
}
    #navMenu > ul { 
    *display: inline-block; 
}
    #navMenu:after, #navMenu ul:after {
      content: ''; display: block; clear: both;
}

#navMenu a { 
    display: block; 
    line-height: 1em; 
    text-decoration: none;
    background: black;
    color: #CBCBCB;
    padding: 0 20px;
}

#navMenu ul, #navMenu li {
    list-style: none; 
    margin: 0; 
    padding: 0;
}

#navMenu ul {
    position: relative; 
    z-index: 597;
}
    #navMenu ul ul {
        margin-top: 0; 
        border-top: 4px solid firebrick; 
        text-transform: none; 
        min-width: 190px; 
}
        #navMenu ul ul a {
            background: firebrick;
            color: #FFF;
            border: 1px solid darkred;
            border-top: 0 none;
            line-height: 50%;
            padding: 16px 20px; 
}
        #navMenu ul ul ul {
            top: 0; 
            left: auto; 
            right: -99.5%;
            border-top: 0 none;
}
        #navMenu ul ul li {
            float: none;
            position: relative;
}

#navMenu ul li { 
    float: left; 
    min-height: 1px; 
    vertical-align: middle;
}
#navMenu ul li:hover > a, #cssmenu ul li.active > a {
      background: firebrick;
      color: #FFF;
}
#navMenu ul li.has-sub > a:after {
      content: '';
      margin-left: 5px;
}
#navMenu ul li.last ul {
    left: auto;
    right: 0;
}
    #navMenu ul li.last ul ul {
        left: auto;
        right: 99.5%;
}


#navMenu > ul > li > a {
    line-height: 48px;
}
#navMenu ul ul li:first-child > a {
    border-top: 1px solid darkred;
}
    #navMenu ul ul li:hover > a {
    background: darkred;
}
    #navMenu ul ul li:last-child > a{
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 0 firebrick;
}
    #navMenu ul ul li:last-child:hover > a { border-radius: 0 0 15px 15px; }
    #navMenu ul ul li.has-sub > a:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -8px;
}



#navMenu ul li:hover {
    position: relative; 
    z-index: 599; 
    cursor: default;
}
#navMenu ul ul {
    visibility: hidden; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    z-index: 598; 
    width: 100%;
}
#navMenu ul li:hover > ul { 
    visibility: visible;
}
#navMenu ul ul {
    bottom: 0; 
    left: 0;
}
#navMenu ul ul li {
    font-weight: normal;
}

/*///////////////////////////////////////////////////////*/
/* USERLOG */
/*///////////////////////////////////////////////////////*/


#userLog {
    float: right;
    display: block;
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: white;
    line-height: 48px;
}

#userLog a {
    padding: 5px;
    color: white;
    text-decoration: none;
}
    #userLog a:hover {
    color: firebrick;
}

#userLog p {
    padding: 0;
    padding-right: 15px;
}


/*/////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/
/* CONTAINER */
/*/////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/
#container {
    width: 100%;
    height:100%;
    margin: 0;
    margin-top: 48px;
    padding: 0;
    background-color: white;
}	

/*///////////////////////////////////////////////////////*/
/* MOVIE MARQUEE */
/*///////////////////////////////////////////////////////*/
#movieMarq {
    padding: 0;
    margin: 0;
    height: 300px;
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #ffdfe2;
    overflow: hidden;
}
#movieMarq ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#movieMarq .listSlider {
    padding: 0;
    margin: 0;
    display: block;
    height: 300px;
    width: 6000px;
}
#movieMarq .slide {
    margin-left:5px;
    margin-right:5px;
    height: 300px;
    width: 192px;
    float: left;
    list-style-type: none;
}


/*///////////////////////////////////////////////////////*/
/* CONTENTS */
/*///////////////////////////////////////////////////////*/
#contents {
    height: 100%;
    width: 80%%;
    background-color: aqu;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
#contents h1 {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    border-bottom: 2px solid firebrick;
}
#contents h2 {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 12px;
}
#contents p {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    text-indent: 40px;
    border-bottom: 2px solid gray;
}


