<SCRIPT LANGUAGE="JavaScript">
var xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
try {
    xmlDoc.load("train.xml");
      document.write("<pre>");
      traverse(xmlDoc.documentElement,"");
      document.write("</pre>");
}
catch(e) {
    document.write(
       "URL "+xmlDoc.parseError.url+" Line "+xmlDoc.parseError.line+
       " position "+xmlDoc.parseError.linepos+" "+
       xmlDoc.parseError.srcText + " " + xmlDoc.parseError.reason);
}

function traverse(node,indent) {
  var i, children, type = node.nodeTypeString;
  if (type == "element") {  
      document.write("<br>" + indent + node.nodeName);
      children = node.childNodes;
      if (children != null)  
           for (i=0; i<children.length; i++)
                traverse (children.item(i), indent + "|    ");  
  }
}
</SCRIPT>