﻿@using WebStore.Models
@model CartIndexViewModel

@{
    Layout = null;
    UserViewModel currentUser = (UserViewModel)Session["User"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
    <link href="../Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <nav class="fixedNav">
        <div id="bannerLeft">
            <p>Web Store</p>
        </div>
        <div id="navMenu">
            <ul>
                <li class='active'><a href='../Home/Index'>Home</a></li>
                <li class='has-sub '>
                    <a href='#'>Categories</a>
                    <ul>
                        <li class='has-sub '><a href='../Home/Movies'>Movies</a></li>
                        <li class='has-sub '><a href='../Home/Books'>Books</a></li>
                    </ul>
                </li>
                <li><a href='../Home/About'>About</a></li>
            </ul>
        </div>
        <div id="userLog">
            @{
                if (currentUser == null)
                {
                    <p><a href="~/Home/Login">Login</a> / <a href="~/Home/Register">Register</a></p>
                }
                else
                {
                    if (currentUser.Permission > 0)
                    {
                        <p><a href="../Admin/AdminIndex">Admin</a> / <a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                    else
                    {
                        <p><a href="../Cart/CartIndex">Cart</a> / @currentUser.FName @currentUser.LName</p>
                    }
                }
            }
        </div>
    </nav>

    <div id="container">
        
        <div id="contents">
            <h1>Cart</h1>
            <table align="center" id="cartTable" class="table">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Item Description</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr>
                            <td class="text-center">@line.Quantity</td>
                            <td class="text-left">@line.Product.Name</td>
                            <td class="text-right">@line.Product.Price.ToString("c")</td>
                            <td class="text-right">
                                @((line.Quantity * line.Product.Price).ToString("c"))
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.HiddenFor(x => x.ReturnUrl)
                                    <button onclick="location.href = '@Url.Action("RemovefromCart", "Cart", new {productID = line.Product.ProductId})'">Remove</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">
                            @Model.Cart.ComputeTotalValue().ToString("c")
                        </td>
                    </tr>
                </tfoot>
            </table>

            <div class="text-center">
                <a class="btn btn-primary btn-style" href="@Model.ReturnUrl">Continue shopping</a>
                @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary btn-style" })
            </div>
        </div>
    </div> <!-- Container End-->

</body>
</html>
